/* место для вашего кода */
display: flex;
    justify-content: center;
    margin-top: 35px;
}

.about__logo-image {
    width: 148px;
    height: auto;
}

.about_information {
    margin-top: 133px;
    justify-self: left;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about_paragraph-one {
    width: 688px;
}

.section_auction_name {
    margin-bottom: 100px;
}

.footer {
    display: grid;
    margin-right: 50px;
    margin-left: 50px;
    grid-template-columns: 1fr 164px 1fr;
    margin-bottom: 82px;
}

.footer_address {
    text-underline-offset: 0.25em;
    line-height: 1.5;
    list-style: none;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    line-height: 1.5;
    list-style: none;
}

.footer__menu-list-item {
    text-align: center;
}

.footer__menu-link_active {
    text-underline-offset: 0.25em;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-self: end;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: auto;
}
